[Unit]
Description=Limit Usage Xray Service
Documentation=https://github.com/Arya-Blitar22
After=syslog.target network-online.target

[Service]
User=root
NoNewPrivileges=true
ExecStart=/etc/xray/limit.trojan

[Install]
WantedBy=multi-user.target
